@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

* button {
  border: none;
}

* li {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
}

* button {
  color: #fff;
  border-radius: 4px;
  background-color: #02897A;
  transition: 0.4s ease-in-out;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border: 1px solid transparent;
}
* button:hover {
  background-color: #fff;
  color: #02897A;
  border-color: #BCD0E5;
}

header {
  padding-bottom: 2000px;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 20px 0;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0.7px 7px #02897A;
}

.navbar-shrink {
  padding: 10px 0;
}

.navbar,
.nav-right,
.nav-links ul,
.nav-btns,
.nav-menu,
.tugle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}
.nav-left a {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
}

.nav-right a {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  color: #252B42;
}
.nav-right a:hover {
  border-bottom: 1px solid #252B42;
}
.nav-right .nav-btns button {
  padding: 10px 24px;
  margin-left: 24px;
}
.nav-right .nav-btns button:nth-child(3) {
  border: none;
  background-color: transparent;
  padding: 0px;
  margin-left: 28px;
  transition: 0.5s ease-in-out;
}
.nav-right .nav-btns button:nth-child(3):hover {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.nav-menu {
  display: none;
}
.nav-menu button {
  background-color: transparent;
  border: none;
  padding: 0px;
}
.nav-menu button:hover {
  border: none;
  background-color: none;
}

@media (max-width: 1150px) {
  .nav-menu {
    display: block;
  }
  .nav-right {
    display: none;
  }
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
}
#navbar-responsive {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: -100%;
  height: 100vh;
  width: 70%;
  background-color: #02897A;
  transition: 0.8s ease-in-out;
}

.tugle-btns {
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tugle-btns button {
  background-color: white;
  color: #02897A;
  padding: 10px 0px;
  width: 100px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
}
.tugle-btns button:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.tugle-btns button:nth-child(3) {
  background-color: transparent;
  border: none;
}
.tugle-btns button:nth-child(3) svg path {
  fill: #fff;
}

#navbar-close {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0px;
  right: 20px;
  top: 20px;
}
#navbar-close svg {
  fill: white;
}

.toogle-links ul {
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 60px;
}
.toogle-links ul a {
  color: white;
  font-size: 22px;
  transition: 0.3s ease-in-out;
}
.toogle-links ul a:hover {
  color: rgb(38, 32, 74);
}
.toogle-links ul li {
  margin-left: auto;
  margin-right: auto;
}