//general-colors-start
$white: #fff;
$dark-blue: #252B42;
$light-blue: #22343D;
$second-light-blue: #173A56;
$light-gray: #737373;
$green: #02897A;
//button-border-radius
$btbora: 4px;
//transition
$tran: 0.4s ease-in-out;